@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PlataformaDeEnsino.Presenter.Areas.ViewModels.AlunoViewModel
@{ Layout = "_Layout"; }

<!DOCTYPE html>
<html lang="pt">

<body>
    <div class="container td">
        <div class="row">
            <div class="col-md-12">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-center estilo-noticia-margin-bottom">
                            <i class="fa fa-book fa-5x icone-book"></i>
                            <h4 class="modal-title text-center ">Cadastrar novo aluno</h4>
                            </div>
                        </div>
                        <form method="Post" asp-action="EditarAluno">
                            <input hidden name="IdDoAluno" value="@Model.IdDoAluno">
                            <input hidden name="IdDoUsuario" value="@Model.IdDoUsuario">
                            <input name="Role" value="Aluno" hidden>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">Nome</label>

                                <input name="NomeDaPessoa" class="form-control" type="text" value="@Model.NomeDaPessoa">
                                <span asp-validation-for="NomeDaPessoa" class="text-danger"></span>
                            </div>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">Sobrenome</label>

                                <input class="form-control" type="text" name="SobrenomeDaPessoa" value="@Model.SobrenomeDaPessoa">
                                <span asp-validation-for="SobrenomeDaPessoa" class="text-danger"></span>
                            </div>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">Email</label>
                                <input class="form-control" type="text" name="EmailDaPessoa" value="@Model.EmailDaPessoa">
                                <span asp-validation-for="EmailDaPessoa" class="text-danger"></span>
                            </div>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">CPF</label>
                                <input class="form-control" type="text" name="CpfDaPessoa" value="@Model.CpfDaPessoa">
                                <span asp-validation-for="CpfDaPessoa" class="text-danger"></span>
                            </div>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">Codigo da turma</label>
                                <input class="form-control" type="text" name="CodigoDaTurma" value="@Model.CodigoDaTurma">
                                <span asp-validation-for="CodigoDaTurma" class="text-danger"></span>
                            </div>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">Semestre</label>
                                <select name="NivelDoAluno" class="form-control">
                                            <option>Semestre</option>
                                            <option value="1">Primeiro</option>
                                            <option value="2">Segundo</option>
                                            <option value="3">Terceiro</option>
                                            <option value="4">Quarto</option>
                                            <option value="5">Quinto</option>
                                            <option value="6">Sexto</option>
                                            <option value="7">Setimo</option>
                                        </select>
                                <span asp-validation-for="NivelDoAluno" class="text-danger"></span>
                            </div>
                            <div class="modal-container">
                                <label class="col-2 col-form-label text-modal-title">Turma</label>
                                <select name="IdDoCurso" class="form-control">
                                            <option>Cursos</option>
                                            <option value="1">CST em Agroindústria</option>
                                            <option value="2">CST em Alimentos</option>
                                            <option value="3">CST em Análise e Desenvolvimento de Sistemas</option>
                                            <option value="4">CST em Gestão da Qualidade</option>
                                            <option value="5">CST em Gestão de Recursos Humanos</option>
                                            <option value="6">CST em Logística</option>
                                            <option value="7">CST em Redes de Computadores</option>
                                        </select>
                                <span asp-validation-for="IdDoCurso" class="text-danger"></span>
                            </div>
                            <div class="modal-footer footer-modal">
                                <div class="footer-botoes">
                                    <button type="submit" class="btn btn-default btn-primary enviar-arquivo up-modal"> Enviar</button>
                                    <a href="AlunoCoordenador" ><button type="button" data-dismiss="modal" class="btn btn-default btn-danger fechar-modal up-modal"> Fechar</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>