@using Microsoft.AspNetCore.Identity;
@model PlataformaDeEnsino.Presenter.ViewModels.ConteudoAlunoViewModel


    @{ Layout = "_Layout"; }
    

    <!DOCTYPE html>
    <html lang="pt">
        <body>
    <div class="titulo">
            <ul class="nav navbar-nav float-direita-usuario">
                <li class="dropdown ">
                    <a href="#" class="float-direita-usuario-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewBag.UserName<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/LogOff">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    <div class="container td">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center estilo-noticia-margin-bottom">
                    <i class="fa fa-book fa-5x icone-book"></i>
                    <p class="conteudo text-center">Conteúdo</p>
                </div>
                <div class="container selects">
                    <form method="GET" asp-controller="Aluno" asp-action="Conteudo">
                        <select name="idDoModulo" class="modulo form-control form-group" onchange="this.form.submit()">
                            <option>Modulos</option>
                            @foreach(var modulo in Model.ModuloViewModel)
                            {
                                <option value="@modulo.IdDoModulo">@modulo.NomeDoModulo</option>
                            }
                        </select>
                    </form>
                    <form method="GET" asp-controller="Aluno" asp-action="Conteudo">
                    <select name="DiretorioDaUnidade" class="disciplina form-control form-group" onchange="this.form.submit()">
                            <option>Unidade</option>
                            @foreach(var unidade in Model.UnidadeViewModel)
                            {
                                <option value="@unidade.DiretorioDaUnidade">@unidade.NomeDaUnidade</option>
                            }
                        </select>
                    </form>
                </div>
                <div class="container">


                    <table class="table table-bordered table-overflow">

                        <thead>
                            <th>Arquivo</th>
                            <th>Data</th>
                        </thead>
                    @if(Model.Arquivos != null)
                    {
                        @foreach(var arquivo in Model.Arquivos)
                        {
                            <tbody>
                                <td><a href="Download?caminhoDoArquivo=@arquivo.FullName" target="_blank">@arquivo.Name</a></td>
                                <td>@arquivo.LastAccessTime.ToString("dd/MM/yyyy")</td>
                            </tbody>
                        }
                    }
                    </table>
                </div>
            </div>
        </div>
        </body>

    </html>